.nav {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  list-style: none;
  background-color: #262323;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  box-shadow: -10px 5px 10px #2f3131;
  justify-content: center;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  border: 1px solid;
  top: -8px;
  transition: top ease 0.2s;
  font-weight: bold; }

.nav:hover {
  top: -13px; }

.pag{
  height: 20%;
  width: 100%;
  }

.matanga {
  display: inline-block;
  margin: 20px;
  height: 40%;
  text-align: center;
  align-items: center;
  display: flex; }

h1 {
  color: #bb3e3e; }

.white {
  color: white;
  text-shadow: -10px 5px 10px red;
  text-decoration: none; }

body{
  background-image: url(../assets/Sin\ título.png);
  background-attachment: fixed;
  background-size: contain;
  background-size: 170px;

}

#video1 {
  display: flex;
  display: inline-block;
  text-align: center;
  align-items: center; }

.tpn19, #tpn, #tpn, #tpn, #drakengard1, #one86 {
  height: 25%;
  width: 25%; }

.xxx {
  font-size: 1rem;
  list-style: none;
  text-align: center;
  font-style: italic;
  width: 350px;
  font-weight: bold;
  background-position: center;
  position: relative;
  background-color: #262323;
  box-shadow: -10px 5px 10px #0a0f0f;
  margin: 0 auto;
  /*para poner en el medio un cuadro con texto y mas*/ }

.text {
  color: white; 
}

.foot{
  color: white;
}

#pepe {
  background-color: rgba(20, 23, 23, 0.952);
  height: 200px;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.color_li {
  color: #ea1212;
  text-shadow: -10px 5px 10px red; }

.uwu3 {
  height: 45px;
  width: 70px; }

.uwu6 {
  height: 45px;
  width: 90px; }

.uwu7 {
  height: 50px;
  width: 100px; }

@media (max-width: 600px) {
  .nav {
    list-style: none;
    text-align: center;
    background-position: center;
    background-size: cover;
    position: relative;
    justify-content: space-evenly;
    flex-direction: column; }
  .carousel {
    width: 60%;
    position: relative; }
  .carousel-inner, .carousel-inner > .item, .carousel-inner > .item > {
    height: 60%;
    width: 60%; }
    #carouselExampleControls{
      position: relative;
      left: 20%;
    }
    .img-in-mangas{
      margin: 30px;
      display: flex;
      text-align: center;
      align-items: center;
      flex-direction: column; }

  .pag{
    width: 30px;
  }

  #nmush1 {
    width: 100%; }
  #nmush2 {
    width: 100%; }
  #nredo5 {
    width: 100%; }
  #video1 {
    height: 450px;
    width: 100%; }
  #tpn{
    height: 52%;
    width: 65%;
  }
  .tpn {
    height: 52%;
    width: 65%; } 
  .drak{
    width: 65%;
    height: 52%;
  }
  }
    

@media (min-width: 601px) {
  .nav {
    list-style: none;
    position: relative;
    flex-direction: row;
    font-weight: bold;
    text-align: center;
    align-items: center;
    height: 140px; }
  .carousel {
    width: 30%;
    position: relative; }
 
  #carouselExampleControls{
    position: relative;
    left: 34%;
  }

  .img-in-mangas{
    margin: 30px;
    display: flex;
    position: relative;
    justify-content: space-evenly;
  }
  .tpn{

    width: 26%;
    height: 100%;
  }
  .drak{
    width: 3000px;
    height: 530px;
  }
  #nmush1 {
    width: 100%;
    height: 100%; }
  #nmush2 {
    width: 100%;
    height: 100%; }
  #nredo5 {
    width: 100%;
    height: 100%; }
  #video1 {
    position: relative;
    left: 25%;
    width: 50%;
    height: 460px; } }
